*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
html.body{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 35rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.248);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    gap: 20px;
}
.addContainer{
    display: flex;
    width: 100%;
    gap: 10px;
}
.addContainer > input{
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.367);
    width: 100%;
    font-size: large;
    border-radius: 5px;
}

.addContainer > button{
    padding: 0 25px;
    background-color: lightseagreen;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    transition: all linear 0.3s;
}
.addContainer > button:active{
    scale: 0.9;
}
.listContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.listContainer .list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 12px;
    border-radius: 5px;
}
.listContainer .deleteBtn{
    padding: 5px;
}