* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
.OpenModelbtn {
  margin: 50px;
  padding: 10px 20px;
  font-size: 40px;
}
.modelContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.339);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.modelContent {
  background-color: rgb(238, 231, 231);
  padding: 70px;
  margin: 70px;
  border-radius: 15px;
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1 rem;
}

.modelContent > p {
  font-size: 30px;
  padding: 15px;
}
