* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
}
.numberContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 60rem;
    margin: auto;
    padding: 40px;
}
.circle{
    width:40px;
    height:40px;
    background-color: brown;
    border-radius: 100%;
    color: white;
    display: grid;
    place-content: center;
    font-size: 23px;
    cursor: grab;
}