*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
/* .grandParent{
    padding: 100px;
    background-color: black;
    margin: 100px;
}
.Parent{
    padding: 70px;
    margin: 70px;
    background-color: brown;
}
.Child{
    padding: 50px;
    margin: 50px;
    background-color: lightseagreen;
} */

.container{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 150px;
    cursor: grabbing;
}
.box{
    background-color: brown;
    color: white;
    font-size: 60px;
    padding: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}