* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(28, 27, 27);
  color: white;
}
.mainContainer {
  width: 100%;
  max-width: 40rem;
  margin: auto;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 2.5rem;
  
}
#taskInput {
  width: 100%;
  padding: 0 15px;
  border-radius: 5px;
}
header{
    position: sticky;
    top: 0px;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputContainer .addBtn {
  padding: 0 15px;
  border-radius: 5px;
}
.todoContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.todoContainer .todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 94, 90);
    padding: 10px;
    border-radius: 5px;
}
.todoContainer .todo button{
    padding: 8px 12px;
    border-radius: 5px;

}
.todoContainer .todo .saveBtn{
  display: none;
}
.todoContainer .todo #editInput{
  display: none;
}
