*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    background-color: #222222;
    max-width: 25rem;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    border-radius:10px;
}
.display{
    width: 100%;
    height: 5rem;
    background-color: #111111;
    color: #02ff00;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    font-size: 30px;
}
.buttonsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 10px  0;
    user-select: none;
}
.buttonsContainer button{
    width: 100%;
    border-radius: 10px;
    background-color: #333333;
    border: none;
    font-size: 20px;
    color: white;
    padding: 20px 0;
    transition: all linear 0.2s;
}
/* .buttonsContainer button:hover{
    scale: 1.1;
} */
.buttonsContainer button:active{
    scale: 0.9;
}
.buttonsContainer .clearBtn{
    background-color: #DC3545;
    grid-column: span 3;
}
.buttonsContainer .operator{
    background-color: #ff9500;
}
.buttonsContainer .equalTo{
    grid-column: span 2;
    background-color: #1e90ff;
}
